[Unit]
Description=Pablo NodeJS Service
After=network.target

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{DIR}}
ExecStart={{PNPM}} start

Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target