[Unit]
Description=Pablo NodeJS Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{DIR}}
ExecStart={{PNPM}} start

Restart=always
RestartSec=5s
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target