# [i] Aby bot sie uruchomil i zmienne zaczely dzialac musisz zedytowac nazwe pliku '.env.example' -> '.env'.
# [i] Jezeli chcialbys zmienic wartosc zmiennych uzyj polecenia 'pnpm env:decrypt'.
# [i] Jeżeli chcialbys zaszyfrowac zmienne ponownie uzyj polecenia 'pnpm env:encrypt'.
# [i] Klucz API Biblii mozna wygenerowac za darmo na stronie 'https://scripture.api.bible'.

# Konfiguracja bota
BOT_TOKEN=
BOT_ID=
BOT_OWNER_ID=

# Konfiguracja API
BIBLE_API_KEY=

# Konfiguracja bazy danych
DB_HOST=
DB_PORT=
DB_PASSWORD=
DB_CONNECT_TIMEOUT=10000

# Tryb developera
DEV_MODE=false
DEV_BOT_TOKEN=
DEV_BOT_ID=